
/*
.container {
  background: transparent;
  padding: 1px 1px;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 50%;
}
*/
.containerMain {
  position: absolute;
  top: 45%;
  width: 95%;
}

.container {
  background: transparent;
  margin: auto;
  width: 440px;
  padding: 5px;
  z-index: 999;
}
input {
  width: 320px;
  height: 30px;
  padding: 5px;
  font-size: 17px;
  color: #e60082;
  text-align: center;
  font: Arial;
}
input::placeholder {
  color: #e60082;
}
.sendButton {
  width: 100px;
  height: 44px;
  padding: 5px;
  font-size: 17px;
  color: #e60082;
  text-align: center;
  font: Arial;
}
h2 {
    margin: auto;
    width: 220px;
    padding: 10px;
    color: #ffff00;
}
